{% extends 'base.html' %}
{% block title %}About Us {% endblock title %}
{% block body %}
{% comment %} {{request.usser}} {% endcomment %}
<div class="container-fluid my-4 px-0 ">
<img src="/static/img/8.jfif" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container">
<h3 class="text-center"> About Us </h3>
<h4 class="text-center"><p> We are a well known company with 1000 Employe. Having clients all over the world. </p></h4>
<form method="post" action="/planning">



{% endblock body %}

