{% extends 'base.html' %}
{% block title %}Planning {% endblock title %}
{% block body %}
{% comment %} {{request.usser}} {% endcomment %}

<div class="container">
<h3 class="text-center"> Planning </h3>
<form method="post" action="/employee/planning">

{% csrf_token %}

<div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name" name="name">
</div>
<div class="mb-3">
  <label for="desc" class="form-label">Description</label>
  <textarea class="form-control" id="about" name="desc" rows="3"></textarea>
</div>
<div class="mb-3">
  <label for="name" class="form-label">Customer Name</label>
  <input type="text" class="form-control" id="C_name" name="C_name">
</div>

<div class="mb-3">
  <label for="time" class="form-label">Milestone</label>
  <select class="form-select" id="time" name="R_time" aria-label="Default select example">
  <option selected>Select Milestone</option>
  <option value="2021 Q1">2021 Q1</option>
  <option value="2021 Q2">2021 Q2</option>
  <option value="2021 Q3">2021 Q3</option>
  <option value="2021 Q4">2021 Q4</option>
  <option value="2022 Q1">2022 Q1</option>
  <option value="2022 Q2">2022 Q2</option>
  <option value="2022 Q3">2022 Q3</option>
  <option value="2022 Q4">2022 Q4</option>
</select>
</div>

<div class="mb-3">
  <label for="loc" class="form-label">Location</label>
  <select class="form-select"  id="loc" name="location" aria-label="Default select example">
  <option selected>Select Location</option>
  <option value="Mumbai">Mumbai</option>
  <option value="Bangalore">Bangalore</option>
  <option value="Surat">Surat</option>
</select>
</div>

<div class="mb-3">
  <label for="quantity" class="form-label">Quantity</label>
  <input onchange="multiplier()" type="number" class="form-control" id="quantity" name="quantity">
</div>

<div class="mb-3">
  <label for="rate" class="form-label">Rate</label>
  <input onchange="multiplier()" type="number" class="form-control" id="rate" name="rate">
</div>

<div class="mb-3">
  <label for="value" class="form-label">Value</label>
  <input type="number" class="form-control" id="value" name="value">
</div>

  <button class="btn btn-dark" type="submit">submit</button>

</form>

<script type="text/javascript">
console.log("sssssss")
function multiplier(){
var rate = document.getElementById('rate').value
var quantity = document.getElementById('quantity').value
var val = rate * quantity
console.log("val" , val)
document.getElementById('value').value = val
}


</script>

{% endblock body %}

